@using System.Globalization
@using Economy.Application.Dtos.AppSettingDtos

@{
    var appSettings = Context.Items["AppSettings"] as AppSettingDto;
    var siteTitle = appSettings?.SiteTitle;
    var siteDescription = appSettings?.SiteDescription;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@siteTitle</title>
    <meta name="description" content="@siteDescription" />
    <!-- Diğer başlıklar ve stil bağlantıları -->
    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/fontello/css/icon_set_1.css" rel="stylesheet">
    <link href="css/fontello/css/icon_set_2.css" rel="stylesheet">
    <link href="css/fontello/css/fontello.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="css/date_time_picker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">

    <!-- CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>
<body>
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- End Preload -->
    <!-- Header ================================================== -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="index.html" id="logo">
                        <img src="img/logo.png" width="190" height="23" alt="" data-retina="true">
                    </a>
                </div>
                <nav class="col-9 position-relative">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <!-- Language Component'ı Burada Dahil Ediliyor -->
                    @await Component.InvokeAsync("Language")
                    <!-- Menü Component'ı Burada Dahil Ediliyor -->
                    @await Component.InvokeAsync("Menu")
                    <!-- End main-menu -->
                </nav>
            </div><!-- End row -->
        </div><!-- End container -->
    </header>
    <!-- End Header =============================================== -->

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    @{ var lang =        CultureInfo.CurrentUICulture.Name; 
    }

    <span>@lang</span>

    <div class="language-selector">
        <a href="@Url.Action("ChangeLanguage", "Language", new { lang = "tr" })">Türkçe</a> |
        <a href="@Url.Action("ChangeLanguage", "Language", new { lang = "en" })">English</a>
        <a href="@Url.Action("ChangeLanguage", "Language", new { lang = "ys" })">Yanlış Dil</a>

    </div>

    @RenderBody()
 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img src="img/logo_footer.png" width="141" height="40" alt="" id="logo_footer" data-retina="true">
                    <ul id="contact_details_footer">
                        <li>Route de Sablet 1023, Marseille<br>France 01923</li>
                        <li><a href="tel://004542344599">+45 423 445 99</a> / <a href="#0">info@albert.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h3>About</h3>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="room_list.html">Rooms</a></li>
                        <li><a href="about.html">Activities</a></li>
                        <li><a href="contacts.html">Contact us</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h3>Change language</h3>
                    <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">French</a></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-5" id="newsletter">
                    <h3>Newsletter</h3>
                    <p>Join our newsletter to keep be informed about offers and news.</p>
                    <div id="message-newsletter_2"></div>
                    <form method="post" action="https://www.ansonika.com/albert/phpmailer/newsletter.php" name="newsletter_2" id="newsletter_2">
                        <div class="form-group">
                            <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail" class="form-control">
                        </div>
                        <input type="submit" value="Subscribe" class="btn_1 white" id="submit-newsletter_2">
                    </form>
                </div>
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <ul>
                            <li><a href="#0"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="#0"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a href="#0"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#0"><i class="bi bi-twitter-x"></i></a></li>
                            <li><a href="#0"><i class="bi bi-youtube"></i></a></li>
                        </ul>
                        <p>© Albert 2025</p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->


    <div id="toTop"></div><!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/common_scripts_min.js"></script>
    <script src="js/functions.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootsrap_datepicker_func.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
